# Debugging print.
snippet deb
	fmt.Printf(">>>> ${1:var}: %v\n", $1)${2}
# Colored debugging print
snippet debc
	fmt.Printf("\033[01;34m>>>> ${1:var}: %v\x1B[m\n", $1)${2}
# Quickly write http.HandleFuncs
snippet handle
	func ${1:Name}(w http.ResponseWriter, r *http.Request) {${2}
snippet spew
	fmt.Printf("\033[01;32m>>>> ${1:var}:\n%s<<<<\x1B[m\n", spew.Sdump($1))${2}
snippet errn
	if err != nil {
		return ${1}
	}
snippet gof
	go func() {
		${1}
	}()
